body{
    font-family: "ElizabethSerif", Georgia, serif !important;
}
.t-center {
    text-align: center;
}

.c-bottom-line {
    border-bottom: 1px solid #eaeaea;
}

.head-line {
    word-break: break-word;
    word-wrap: break-word;
}

.border-left{
    border-left: 1px solid #e5e5e5
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5
}